<mat-sidenav-container class="h-screen">
    <mat-sidenav mode="side" opened>
        <h1 class="title">
            Useless Ranked
        </h1>
        <mat-nav-list>
            <ng-template ngFor let-objMetricModelGroup [ngForOf]="Object.values(MetricModelGroup)" let-i="index">
                <mat-list-item>
                    <button
                        *ngIf="metricModelGroup === objMetricModelGroup"
                        mat-flat-button
                        class="w-full"
                        (click)="selectMetricModelGroup(objMetricModelGroup)"
                    >
                        {{ objMetricModelGroup }}
                    </button>

                    <button
                        *ngIf="metricModelGroup !== objMetricModelGroup"
                        mat-stroked-button
                        class="w-full"
                        (click)="selectMetricModelGroup(objMetricModelGroup)"
                    >
                        {{ objMetricModelGroup }}
                    </button>
                </mat-list-item>
            </ng-template>

            <div class="space"></div>

            <mat-list-item *ngIf="authService.currentUser$ | async as user">
                <div class="flex items-center gap-2 w-full">
                    <img [src]="user.picture" [alt]="user.name" class="w-8 h-8 rounded-full">
                    <span class="flex-1">{{ user.name }}</span>
                </div>
            </mat-list-item>

            <mat-list-item>
                <button 
                    mat-stroked-button 
                    class="w-full"
                    (click)="handleAuth()"
                >
                    {{ (isLoggedIn$ | async) ? 'Sair' : 'Logar com Google' }}
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <h2 class="page-title">
            Ranques de {{ metricModelGroup }}
        </h2>

        <div class="page-content">
            <ng-template ngFor let-ranking [ngForOf]="rankingList" let-i="index">
                <mat-card>
                    <mat-card-header>
                        <h3 class="card-title">
                            {{ ranking.name }} ({{ ranking.unit }})
                        </h3>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                            <ng-template ngFor let-periodType [ngForOf]="Object.values(PeriodType)" let-i="index">
                                <mat-tab [label]="periodType.toString()">
                                    <table mat-table [dataSource]="ranking.data[periodType]">
                                        <ng-container matColumnDef="position">
                                            <th mat-header-cell *matHeaderCellDef> Posição</th>
                                            <td mat-cell *matCellDef="let i = index"> {{ i + 1 }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef> Usuário</th>
                                            <td mat-cell *matCellDef="let user"> {{ user.userName }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="score">
                                            <th mat-header-cell *matHeaderCellDef>{{ ranking.unit }}</th>
                                            <td mat-cell *matCellDef="let user"> {{ user.eventCounter }}</td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="['position', 'name', 'score']"></tr>
                                        <tr mat-row *matRowDef="let row; columns: ['position', 'name', 'score'];"></tr>
                                    </table>
                                </mat-tab>
                            </ng-template>
                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>
                <br>
            </ng-template>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
